@media screen{
    #p1{
        background-color: plum;
        border: 4px solid;
        padding: 10px;
        margin: auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
}

@media print{
    #p1{
        background-color:salmon;
        border: 2px solid slategray;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}