#g1{
    background-color: antiquewhite;
    height: 22px;
    width: 100px;
    /* transition-property:background-color; */
    /* transition-duration:1s;  */
    /* transition-delay: 500ms; */
    /* transition-timing-function:ease-in-out; */

    /* transition: property,duration,timing-function,delay;
    transition: width,200ms,ease,100ms */
    transition: width,height,background-color,border,500ms,ease-in-out,1s;
}

#g1:hover{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
}